In [4]:
import sys
!{sys.executable} -m pip install faker

Collecting faker
  Using cached faker-37.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\raulc\appdata\local\programs\python\python311\lib\site-packages (from faker) (2025.2)
Using cached faker-37.1.0-py3-none-any.whl (1.9 MB)
Installing collected packages: faker
Successfully installed faker-37.1.0

In [12]:
from faker import Faker
import pandas as pd
import random

In [13]:
fake = Faker()

In [14]:
provincias = ["Loja", "Pichincha", "Guayas", "Azuay", "Manab√≠"]

In [15]:
lista = []
for x in range(10000):
    lista.append({
        "nombre": fake.first_name(),
        "apellido": fake.last_name(),
        "email": fake.email(),
        "direccion": fake.address().replace("\n", ", "),
        "edad": random.randint(30, 40),
        "provincia": random.choice(provincias)
    })

In [16]:
df = pd.DataFrame(datos)

In [17]:
df.to_csv("personas_fake.csv", index=False)

In [18]:
df.head()

,nombre,apellido,email,direccion,edad,provincia
0,Rachel,Rodriguez,james89@example.org,"261 Wood Motorway, East Jennifer, TN 84014",39,Pichincha
1,Laura,Garcia,antonio48@example.com,"2994 Smith Ferry Suite 904, Thomasburgh, TN 38176",33,Pichincha
2,James,Kim,markyoung@example.org,"USS Faulkner, FPO AP 90456",30,Pichincha
3,Richard,Joseph,sheilacolon@example.org,"1259 Kevin Throughway, New Pamela, CO 01468",36,Guayas
4,Cindy,Munoz,tracy77@example.org,"2960 Theodore Knoll Suite 069, Colemanburgh, M...",33,Pichincha